<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>leaves</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form method="post" action="">
            <table class="form-table">
                {% csrf_token %}
                <tr>
                    <td class="form-table">Enter Name </td>
                    <td class="form-table"><input class="inputData" type="text" name="student_name"></td>
                </tr>
                <tr>
                    <td class="form-table">Enter Reg no.: </td>
                    <td class="form-table"><input class="inputData"  type="number" name="student_regno"></td>
                </tr>
                <tr>
                    <td class="form-table">Enter Reason for Leave: </td>
                    <td class="form-table"><input class="inputData"  type="textarea" name="student_reason"></td>
                </tr>
                <tr>
                    <td  class="form-table" colspan="2">
                        <input class="inputData" type="submit" value="Submit">
                    </td>
                </tr>
            </table>
        </form>
        
        <script src="" async defer></script>
    </body>
</html>